.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap:30px 10px;
}
.head{
  padding: 20px;
  font-size: xx-large;
  font-weight: bold;
}
.accordion{
   width: 500px;
   
   gap: 1rem;
    
}
.title{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
 .item {
        background: #90794c;
        margin-bottom: 10px;
        padding: 10px 20px;
        border-radius: 10px;
    
}
.answer{
    
    color: white;
}
.btn__change{
  border: none;
  background: none;
  cursor: pointer;
  height: 50px;
  width: 100px;
  background-color: rgb(185, 81, 24);
  color: whitesmoke;
  border-radius: 10px;
}
.btn__change:hover{
  background-color: rgb(63, 44, 25);
}
.item:hover{
  background-color: #575249;
}
@media screen and (max-width:900px) {
    .accordion{
      width: 450px;
    }
  }

@media screen and (max-width:700px) {
  .accordion{
    width: 400px;
  }
  .btn__change{
    
  }
}